.cours-row
{
  .col-8
  {
    .cours-name
    {
      white-space: normal;
      //height: 50px;
    }
    .title
    {
      white-space: normal;
      background-color: #cadbf3;
    }
    border: 2px solid #13142a;
    background-color: #b2c8e8;
    .btn
    {
      background-color: #fff;
      color: black;
    }
  }
}
.theme
{
  p
  {
    margin: 0;
  }
}
.izm
{
  background-color: #466b9b;
}