.cours-row
{

  min-height: 150px;
  .col-10
  {

    .cours-name
    {
      white-space: normal;
      height: 40px;
    }
    .tandb
    {
      min-height: 200px;
      border: 2px solid rgba(19, 20, 42, 0.42);
      img
      {
        height: auto;
        width: auto;
      }
    }
    .title
    {
      min-height: 170px;
      white-space: break-spaces;
      font-size: 20px;
      background-color: #ffffff;
    }
    .btn-bl
    {
      background-color: #cecece;
    }
    .get_course_btn
    {
      background-color: #FDE37F;
      color: black;
    }
    .open-btn
    {
      background-color: #3d807a;
      color: black;
    }
  }
}
.theme
{
  border: 1px solid grey;
  background-color: #efe7e2;
  p
  {
    margin: 0;
  }
}
.izm
{
  background-color: #c99898;
}