body{
    height: 950px;
}
#sidebar
{
    background-color: #2c4768;
    #logo
    {
        color: #ffffff;
        font-size: 30px;
        font-weight: bold;
    }
    #username
    {
        color:#ffffff;
    }
    .list-group
    {
        border: none;
        border-radius: 0;
        .list-group-item
        {
            border: none;
            background-color: #5a85c1;
            .btn
            {
                color: #ffffff;
            }
            #exit_form
            {
                button
                {
                    font-weight: bold;
                    border: none;
                    background-color: #3e0000;
                }
            }
        }
    }
}
#footer
{
    bottom: 0;
    height: 150px;
    background-color: #2b2d38;
    color: #ffffff;
}


