body, html
{
    font-family: 'Comfortaa', cursive;
    #wrapper
    {
        #up
        {
          //min-height: 950px;
        }
    }
}
#sidebar
{
    @media (min-width: 576px) {
        min-height: 950px;
    }
    background-color: #3d807a;
    #logo
    {
        font-family: 'Righteous', cursive;
        font-size: 30px;
        @media(max-width: 768px) {
            font-size: 30px;
        }
        @media(min-width: 768px) {
            font-size: 40px;
        }
        color: #ffffff;
        font-weight: bold;
    }
    #username
    {
        color:#ffffff;
    }
    .list-group
    {
        border: none;
        border-radius: 0;
        .list-group-item
        {
            border: none;
            background-color: #E8F4F0;
            .btn
            {
                color: #343135;
            }
        }
    }
}
#footer
{
    height: 150px;
    background-color: #343135;
    color: #ffffff;
}


