.izm
{
  background-color: #466b9b;
}
.get_task
{
  .btn
  {
    height: 26px;
    width: 26px;
    background-color: #50C878 ;
  }

  .close_btn
  {
    background-color: grey;
  }
}
.send_answer
{
  .btn
  {
    background-color: rgb(179, 179, 179);
  }
}
