#back_to_themes_btn
{
  background-color: #d5a03e;
}

.izm
{
  background-color: #466b9b;
}
.get_task
{

  .btn
  {
    height: 26px;
    width: 26px;
    background-color: #50C878 ;
  }

  .close_btn
  {
    background-color: grey;
  }

  .supertest
  {
    height: 26px;
    width: 26px;
    background-color: #592ce0;
  }
  .red
  {
    background-color:#d53e4f;
  }
}
.create
{
  background-color: #3d7f79;
}
.get_text_theme
{
  height: 26px;
  width: 26px;
  background-color: #cd7857;
}
.del_task
{
  background-color: #fc8f8f;
}
.send
{
  background-color: rgb(179, 179, 179);
}
.chg_task_btn
{
  background-color: #cd7857;
}


.add_task_to_supertest_btn
{
  background-color: #cd7857;
}

#task {
  img {
    max-width: 100%;
    height: auto;
    max-height: 300px
  }

  @media (min-width: 576px) {
    min-height: 800px;
  }
  #tt
  {
    background-color: #d9e6ef;
  }
}
.ch_b
{
  input
  {
    width: 100%;
    height: 50%;
    box-sizing: border-box;
  }
  label
  {
    width: 100%;
  }
}

#tt
{
   // адаптивный шрифт текста задачи
    @media (max-width: 576px) {
      font-size: 15px;
    }
    @media (min-width: 576px) {
      font-size: 20px;
    }
}