<div class="container-fluid">
  <p>
  <form id="change_title_theme" method="POST">
    <label class="row col-12 justify-content-center h2">Изменить имя темы</label>
    <textarea id="editor1"  name="new_theme_title" placeholder="Название"></textarea>
    <input type="hidden" name="code" value="change_title">
    <input type="hidden" name="theme_id" value="{{ theme_id }}">
    <input type="hidden" name="submit">
    <br>
    <input class="btn izm" type="submit" value="Изменить">
  </form>
  <p>
</div>

<div class="container-fluid">
  <p>
  <form id="change_text_theme" method="POST">
    <label class="row col-12 justify-content-center h2">Изменить описание темы</label>
    <textarea id="editor2"  name="new_theme_text" placeholder="Описание"></textarea>
    <input type="hidden" name="code" value="change_text">
    <input type="hidden" name="submit">
    <input type="hidden" name="theme_id" value="{{ theme_id }}">
    <br>
    <input class="btn izm" type="submit" value="Изменить">
  </form>
  <p>
</div>

<div class="container-fluid">
  <p>
  <form id="change_complexity_theme" method="POST">
    <label class="row col-12 justify-content-center h2">Изменить сложность темы (1-10)</label>
    <input type="text" name="new_theme_comlexity">
    <input type="hidden" name="code" value="change_complexity">
    <input type="hidden" name="theme_id" value="{{ theme_id }}">
    <input type="hidden" name="submit">
    <input class="btn izm" type="submit" value="Изменить">
  </form>
  <p>
</div>

<div class="container-fluid">
  <p>
  <form id="delete_course" method="POST">
    <input type="hidden" name="submit">
    <input type="hidden" name="code" value="delete">
    <input type="hidden" name="theme_id" value="{{ theme_id }}">
    <input id="del_theme_btn" class="btn" type="submit" value="Удалить тему">
  </form>
  <p>
</div>

<div id="message"></div>

