
<p>
    <div class="container-fluid">
        <form id="change_title_course" method="POST">
            <label class="row col-12 justify-content-center h2">Изменить имя курса</label>
            <textarea id="editor1"  name="new_course_title">{{ course_title }}</textarea>
            <input type="hidden" name="code" value="change_title">
            <input type="hidden" name="course_id" value="{{ course_id }}">
            <input type="hidden" name="submit">
            <br>
            <input class="btn izm" type="submit" value="Изменить">
        </form>
    </div>
<p>


<div class="container-fluid">
    <form id="change_text_course" method="POST">
        <label class="row col-12 justify-content-center h2">Изменить описание курса</label>
        <textarea id="editor2"  name="new_course_text">{{ course_text }}</textarea>
        <input type="hidden" name="code" value="change_text">
        <input type="hidden" name="submit">
        <input type="hidden" name="course_id" value="{{ course_id }}">
        <br>
        <input class="btn izm" type="submit" value="Изменить">
    </form>
</div>

<div class="container-fluid">
    <form id="change_price_course" method="POST">
        <label class="row col-12 justify-content-center h2">Изменить цену курса</label>
        <input type="text" name="new_course_price" placeholder="Сейчас: {{ course_price }}">
        <input type="hidden" name="code" value="change_price">
        <input type="hidden" name="course_id" value="{{ course_id }}">
        <input type="hidden" name="submit">
        <br>
        <br>
        <input class="btn izm" type="submit" value="Изменить">
    </form>
</div>

<p>
<div class="container-fluid">

    <form id="change_complexity_course" method="POST">
        <label class="row col-12 justify-content-center h2">Изменить сложность курса (1-10)</label>
        <input type="text" name="new_course_comlexity" placeholder="Сейчас: {{ course_complexity }}">
        <input type="hidden" name="code" value="change_complexity">
        <input type="hidden" name="course_id" value="{{ course_id }}">
        <input type="hidden" name="submit">
        <input type="submit" value="Изменить">
    </form>

</div>
<p>



<p>
<div class="container-fluid">
    <form id="change_image_course" method="POST" enctype="multipart/form-data" action="/change_course.php">
        <label class="row col-12 justify-content-center h2">Добавить изабражениe</label>
        <input type="file" name="file">
        <input type="hidden" name="code" value="change_image">
        <input type="hidden" name="course_id" value="{{ course_id }}">
        <input type="hidden" name="submit">
        <input type="submit" value="Загрузить файл!">
    </form>
</div>
<p>

<br>
<br>
<p>
<div class="container-fluid">

    <form id="delete_course" method="POST">
        <input type="hidden" name="submit">
        <input type="hidden" name="code" value="delete">
        <input type="hidden" name="course_id" value="{{ course_id }}">
        <input id="del_course_btn" class="btn" type="submit" value="Удалить курс">
    </form>
</div>
<p>


<div id="message"></div>

