<div class='row cours-row container-fluid justify-content-center m-0 mt-5 p-0'>
    <div class='col-8 shadow'>
        <div class='ml-3 cours-name'>{{ title|raw }}</div>
        <div class='title ml-5 mr-5 p-2' >{{ text|raw }}</div>
        <div class='row justify-content-end pr-4'>
            <form id="get_course" method="POST">
                <input type="hidden" name="submit">
                <input type="hidden" name="course_id" value="{{ id }}">
                <input type="submit" value="Получить: &nbsp;{{ price|raw }}">
            </form>
        </div>
    </div>
</div>