<div class='m-0 ml-2 mr-2 p-2 course' id="{{ id }}">
    <div id='info' class='row p-0 m-0 justify-content-start'>
        <div class='col-6'>{{ name }}</div>
        <div class='col-6 d-flex align-items-center justify-content-end' style='opacity: 0.7;'>#{{ id }}</div>
    </div>
    <div class='row p-0 m-0'>
        <div class='row justify-content-start col-6'><a class='btn izm' href='/admin_page.php?code=change_course&id={{ id }}'>Изменить</a></div>
        <div class='row justify-content-end col-6'>
            <form class='del_course' method='POST'>
                <input type='hidden' name='code' value='del_course'>
                <input type='hidden' name='id' value='{{ id }}'>
                <input type='hidden' name='submit'>
                <input class='btn del_btn' type='submit' value='Удалить'>
            </form>

        </div>
    </div>

</div><br>