<div class="container-fluid">
    <p>
        <form id="create_course" method="POST">
            <label class="row col-12 justify-content-center h2">Название курса</label>
            <textarea name="course_name"></textarea>
            <br>
            <label class="row col-12 justify-content-center h2">Описание курса</label>
            <textarea name="title"></textarea>
            <br>
            <br>
            <input type="hidden" name="code" value="create_course">
            <input type="hidden" name="submit">
            <input id="cr_bt" class="btn create" type="submit" value="Создать курс">
        </form>
    <p>
</div>
