<div class="container-fluid">
    <p>
        <form id="create_course" method="POST">
            <label class="row col-12 justify-content-center h2">Название курса</label>
            <textarea id="editor1"  name="course_title"></textarea>
            <br>
            <label class="row col-12 justify-content-center h2">Описание курса</label>
            <textarea id="editor2" name="course_text"></textarea>
            <br>
            <br>
            <input type="hidden" name="submit">
            <input id="cr_bt" class="btn create" type="submit" value="Создать курс">
        </form>
    <p>
</div>
