
<div class='row container-fluid justify-content-center m-0 p-0'><h2>Условие</h2></div>
<div class='row container-fluid justify-content-center m-0 p-0'>{{ text|raw }}</div>
<lable>Введите ответ</lable><br>
<form id="send_answer" method="POST">
  <input type="hidden" name="submit">
  <input type="hidden" name="task_id" value="{{ task_id }}">
  <input type="text" name="answer">
  <input type="submit" value="Отправить">
</form>
<div id="message" class='row container-fluid justify-content-center m-0 p-0'></div>