<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <title>{{ title }}</title>
    <script src="/vendor/components/jquery/jquery.js"></script>

    <link rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="{{ css }}">
</head>
<body>
    <div id="wrapper">
        <div id="content">
            {{ content|raw }}
       </div>
    </div>
    <script src="/js/main.js"></script>
    <script src="{{ js }}"></script>
    <script src="/vendor/twbs/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>