<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <title>{{ title }}</title>
    <script src="/vendor/components/jquery/jquery.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="{{ css }}">
    <script src="https://cdn.ckeditor.com/ckeditor5/27.0.0/classic/ckeditor.js"></script>
</head>
<body>
    <div id="wrapper" class="container-fluid w-100 h-100 p-0">
        <div class="row m-0 w-100 h-100 ">
            <div id="up" class="row p-0 m-0 w-100">
                <div id="sidebar" class="col-sm-4 col-md-4 col-lg-4 col-xl-3 w-100 p-0 m-0 container">
                    <div class="row m-0 mt-3 mb-2 d-flex justify-content-center" id="logo">FIZPORTAL</div>
                    <div id="username" class="col-12 mb-3 d-flex justify-content-center">{{ name|raw }}</div>
                    <ul class="list-group pr-3 pl-3">
                        <li class="list-group-item m-3 p-0 shadow"><a class="col-12 btn btn-md {{ disabled_main }}" href="/main.php">Главная</a></li>
                        <li class="list-group-item m-3 p-0 shadow"><a class="col-12 btn btn-md {{ disabled_acc }}" href="/acc.php">Личный кабинет</a></li>
                        <li class="list-group-item m-3 p-0 shadow"><a class="col-12 btn btn-md {{ disabled_courses }}" href="/courses.php">Курсы</a></li>
                        <li class="list-group-item m-3 p-0 shadow"><a class="col-12 btn btn-md {{ disabled_faq }}" href="/faq.php">Как пользоваться платформой</a></li>
                    </ul>
                </div>
                <div id="content" class=" col p-0 m-0 pb-5 w-100">{{ content|raw }}</div>
            </div>
            <div class="m-0 row w-100" id="footer">footer</div>
        </div>
    </div>
    <script>
        ClassicEditor
            .create( document.querySelector( '#editor1' ) )
        ClassicEditor
            .create( document.querySelector( '#editor2' ) )
    </script>
    <script src="/js/main.js"></script>
    <script src="{{ js }}"></script>
    <script src="/vendor/twbs/bootstrap/dist/js/bootstrap.js"></script>
    <script src='/js/mathjax-config.js' defer></script>
    <script src='/vendor/mathjax/mathjax/es5/tex-chtml.js' async></script>
</body>
</html>