<div class="theme_block m-0 p-0 mb-4 container-fluid">
    <div class='row m-0 p-0 ml-3 mr-3 p-2 theme shadow' id="{{ id }}">
        <div class="col-10 h2 m-0 p-0 pl-4 d-flex align-items-center justify-content-start">{{ title|raw }}</div>
        <!-- <div class="col-8 p-0 m-0 d-flex align-items-center justify-content-center">{{ text|raw }}</div>-->
        <div class="col-2 m-0 p-0 d-flex align-items-center justify-content-center"><a class="btn izm" href="/theme.php?id={{ id }}">Пройти</a></div>
    </div>
</div>
